<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : 'ADA Type Writer' %></title>

    
    <!-- Bootstrap and Font Awesome -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel='stylesheet' href='/Content/app.css' />

    <!-- Different views for different devices -->
    <link rel="stylesheet" href="/Content/mobile.css" media="only screen and (max-width: 480px)">
    <link rel="stylesheet" href="/Content/tablet.css" media="only screen and (min-width: 481px) and (max-width: 960px)">
    <link rel="stylesheet" href="/Content/full.css" media="only screen and (min-width: 961px)">
    
    <!-- Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>