<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="homepage-title"><h1>Welcome To The ADA Type Writer</h1></div>

<div class="bottom-links">
  <div class="box"><a href="/INFR3120-FALL25-PROJECT/views/game.ejs">Play</a></div>
  <div class="box"><a href="/INFR3120-FALL25-PROJECT/views/about.ejs">About Us</a></div>
  <div class="box"><a href="/INFR3120-FALL25-PROJECT/views/contact.ejs">Contact Us</a></div>
</div>

<%- include partials/footer.ejs %>