<%- include ('partials/header') %>
    <%- include ('partials/main_nav') %>

        <main class="about-main">
            <h1 class="center-title">About Us</h1>
            <table style="width: 100%;">

                <!-- Member 1: left image, right text -->
                <tr class="about-row">
                    <td class="left-item" style="width: auto; padding-left: 48px;">
                        <img src="/Asset/images/AJ-web-pic.png" alt="Abdurrahman Jahankeer" class="about-img">
                    </td>
                    <td class="right-item">
                        <div class="member-desc">Abdurrahman Jahankeer</div>
                        <div class="member-text">
                            Worked on back-end setup with Express and MongoDB, authentication (Login & Register), CRUD
                            functionality, protected routes, and About Me page.
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <hr style="border: 2px solid blue; width: 100%; opacity: 100%;">
                    </td>
                </tr>

                <!-- Member 2: right text, left image -->
                <tr class="about-row">
                    <td class="left-item" style="width: auto; padding-left: 48px;">
                        <div class="member-desc">Dawood Khalid</div>
                        <div class="member-text">
                            Worked on timer/accuracy modules, passage selection, CRUD races and records, authentication
                            (Login & Register), CRUD functionality, protected routes, and Contact page.
                        </div>
                    </td>
                    <td class="right-item">
                        <img src="/Asset/images/DK-web-pic.png" alt="Dawood Khalid" class="about-img">
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <hr style="border: 2px solid blue; width: 100%; opacity: 100%;">
                    </td>
                </tr>

                <!-- Member 3: left image, right text -->
                <tr class="about-row">
                    <td class="left-item" style="width: auto; padding-left: 48px;">
                        <img src="/Asset/images/AS-web-pic.png" alt="Abdurrahmaan Shaikh" class="about-img">
                    </td>
                    <td class="right-item">
                        <div class="member-desc">Abdurrahmaan Shaikh</div>
                        <div class="member-text">
                            Worked on forms, leader board, responsive stylesheet, interface polish, EJS views, CSS
                            styling for all pages, forms, CRUD interface, and Contact page.
                        </div>
                    </td>
                </tr>

            </table>
        </main>

        <%- include ('partials/footer') %>