<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<div class="homepage-title">
    <h1>Welcome To The ADA Type Writer</h1>
</div>

<div class="bottom-links">
    <div class="box">
        <a href="/game">Play</a>
    </div>
    <div class="box">
        <a href="/about">About Us</a>
    </div>
    <div class="box">
        <a href="/contact">Contact Us</a>
    </div>
</div>

<!-- Logo at bottom -->
<div id="homepageLogoWrapper">
    <img src="/Asset/images/ADA-Type-Racer.png" alt="ADA Type Racer Logo">
</div>

<%- include('partials/footer') %>