body{
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px
}
.navbar{
    background-color: rgb(0, 70, 167);
    padding: 15px;
    height: 70px;
    overflow: hidden;
}
.navbar-brand img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -15px;
}
.homepage-title{
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.homepage-title h1{
    font-size: 60px;
    font-weight: bold;
}
.bottom-links{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 100px;
}
.bottom-links a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 75px;
}
.box{
    width: 200px;
    height: 70px;
    margin: 15.5px auto;
    text-align: center;
    background-color: black;
    border-radius: 75px;
}
.box:hover{
    background-color: rgb(87, 233, 8);
}
.nav-link{
    color: white;
}
.nav-link:hover{
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.nav-link.active{
    background-color: rgb(100, 65, 0);
    border-radius: 5px;
}
footer{
    margin-top: 50px;
    padding: 30px 0px;
    background-color: rgb(0, 70, 167);
    color: white;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}
.emails{
    color: white;
}
.emails:hover{
    color: greenyellow;
}