/* Stylesheet for a big monitor */

body{
  font-size: 16px;
}

/* Navbar sizing */
.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
  height: 70px;
}

.navbar-brand img{
  height: 70px;
  width: 70px;
  margin-top: -15px;
}

/* Homepage */
.homepage-title{
  margin-top: 40px;
  margin-bottom: 40px;
}

.homepage-title h1{
  font-size: 46px;
}

.bottom-links{
  margin-top: 30px;
  margin-bottom: 80px;
}

.box{
  width: 240px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* About page */
.about-main{
  width: 100%;
  max-width: 1100px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.center-title{
  font-size: 44px;
  margin-bottom: 30px;
}

.about-row{
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-img{
  width: 180px;
  height: 180px;
}

.member-desc{
  font-size: 22px;
  margin-top: 26px;
}

.member-text{
  font-size: 16px;
}

.left-item,
.right-item{
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

/* Contact page */
article{
  max-width: 1000px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

article h2{
  font-size: 32px;
  margin-bottom: 18px;
}

article p{
  font-size: 18px;
}

/* Contact buttons */
.contact-btn{
  width: 40%;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Make login buttons bigger on large screens */
.login-container fieldset.form-group.text-center input.btn-success,
.login-container fieldset.form-group.text-center input.btn-warning{
  width: 39%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}